*.lib
*.lst
*.err
*.o
*.lo
*.hh
*.l.cpp
*.tab.cpp
*.tab.hpp
*.output
*.ver.cpp
*.usage
*.lnk
.deps

/.project
/.cproject
/autom4te.cache/
/config.h.in~
/missing
/Makefile
/config.h
/config.status
/stamp-h1
/config.log
